<div>
  <%= link_to "Add a list", new_list_path %>
</div>

<ul>
  <%- @lists.each do |list| %>
    <li><%= link_to list.title, list_path(list) %></li>
    <div><%= button_to 'Delete list', list_path(list), method: :delete, data: { confirm: "Are you sure?" } %></div>
  <%- end %>
</ul>
