<%- if current_user.lists.count < 7 %>
  <div>
    <%= link_to "Add a list", new_list_path %>
  </div>
<%- end %>

<ol>
  <%- @lists.each do |list| %>
    <li><%= link_to list.title, list_path(list) %></li>
    <%- if current_user == @user %>
      <div><%= link_to "Edit list", edit_list_path(list) %></div>
      <div><%= link_to 'Delete list', list_path(list), method: :delete, data: { confirm: "Are you sure?" } %></div>
    <%- end %>
  <%- end %>
</ol>
