<h4><%= @list.title %></h4>

<ul>
<%- @list.list_items.each do |item| %>
  <li><%= item.title %></li>
  <%- if current_user == @list.user %>
    <div><%= link_to 'Delete item', list_list_item_path(@list, item), method: :delete, data: { confirm: "Are you sure?" } %></div>
  <%- end %>
<%- end %>
</ul>

<%- if current_user == @list_owner %>
  <%= render 'list_item_creation' %>
<%- end %>
