<div>
  <% unless user_signed_in? %>
    <p class="Sign_in_notice">Sign In </p>
    <%= render 'sign_in_form' %>
  <% else %>
    <div>
      <%= link_to "Go to Lists", lists_path %>
    </div>
  <% end %>
</div>
